* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #facc15;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    color: #cbd5f5;
}


.hero {
    height: 100vh;
    background: linear-gradient(to bottom, #020617, #0f172a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #facc15;
}

.hero p {
    font-size: 18px;
    color: #94a3b8;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 35px;
    background: #facc15;
    color: #020617;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #fde047;
}


.content {
    min-height: 100vh;
    padding: 120px 15%;
    background: #020617;
    border-top: 1px solid #1e293b;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #facc15;
}

.content p {
    font-size: 18px;
    line-height: 1.8;
    color: #cbd5f5;
}


@media (max-width: 768px) {
        .hero h1 {
        font-size: 42px;
    }

    .content {
        padding: 100px 10%;
    }
}